{% extends 'layout.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm mt-4">
      <div class="card-header bg-dark text-white">
        <h4 class="mb-0">Customer Login</h4>
      </div>
      <div class="card-body">

        <form method="POST" action="/login/">


          {% csrf_token %}

          {{ form.as_p }}


          <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>

      </div>
      <div class="card-footer text-center">
        <small class="text-muted">Don't have an account? <a href="/register/">Register here</a>.</small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
